<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.min.css') }}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.min.css') }}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.min.css') }}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.min.css') }}">
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="http://localhost:8000/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="/">Home</a></li>
											<li><a href="/about">About us </a></li>
											<li class="active"><a href="/services">Services </a></li>
											<li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single.html">Blog Details</a></li>
												</ul>
											</li>
											<li><a href="/contact">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="/register" class="btn">Register</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Services</h2>
							<ul class="bread-list">
								<li><a href="/">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Services</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
        <section class="why-choose section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Welcome to Medical Health center, where health meets technology for a brighter, healthier
                                future.</h2>
                            <img src="http://localhost:8000/section-img.png" alt="#">
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Start Choose Left -->
                        <div class="choose-left">
					<h3>1. User Registration and Login</h3>
    
					<p><b>Creating Your Account:</b>
						<br>To get the most out of our services, you’ll want to create an account. This process is quick and easy:</br>
						<br> <b>- Simple Registration:</b> Just fill in your name, email, and a password—no complicated forms!</br>
						 <b>- Health Profile Setup:</b> Share a bit about your health history and interests, so we can provide you with content that truly matters to you.
							  
                            
                            
                            
                            
							<h3>2. Searching for Healthcare Information </h3>
							
                            
                            <p>Imagine you're feeling unwell or just curious about a health topic. You come to our platform, 
							  eager to find answers. The moment you arrive, you’re greeted by a friendly search interface that 
							  invites you to explore.
                              </p> 

                              <h3>What You’ll Experience</h3>
                            
							  <p>
								<b> . Intelligent Search Bar:</b> Start typing your symptoms or health questions,
								 and our smart search will suggest popular topics to guide you. 
							       <br>  <b>. Symptom Checker: </b> Input your symptoms, and within moments, 
							        
								       you’ll receive insights that help you understand what might be going on.</br>
							          <b>. Educational Content:</b> As you search, we’ll recommend articles and videos tailored to 
								         your queries, making it easy to learn more about your health.
							</p>	                  
                            <h3>How We Do It</h3            >
    
                            <p>Our platform utilizes a robust machine learning model trained on a vast dataset of symptoms
                                and diseases. By inputting your symptoms, our system generates accurate predictions about
                                potential illnesses, allowing you to make informed decisions about your health.
                            </p>
                            <p>Thank you for choosing Mediplus as your trusted health companion. We are here to empower you
                                with knowledge, support, and a brighter, healthier future.
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list">
                                        <li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
                                        <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
                                        <li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list">
                                        <li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
                                        <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
                                        <li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Choose Left -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Start Choose Rights -->
                        <div class="choose-right">
                            <div class="video-image">
                                <img class="pic" src="http://localhost:8000/pf 7 (2).jpg" alt="#">
                            </div>
                            <div class="video-image">
                                <img class="pic" src="http://localhost:8000/pf 6.jpg" alt="#">
                            </div>
                            <div class="video-image">
                                <img class="pic" src="http://localhost:8000/pf3.jpg" alt="#">
                            </div>
                            <div class="video-image">
                                <img class="pic" src="http://localhost:8000/PF5.jpg" alt="#">
                            </div>
                        </div>
                        <!-- End Choose Rights -->
                    </div>
                </div>
            </div>
        </section>
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>Medi-plus is an AI system that predicts yout diseases from your symptoms</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="index.html"><i class="fa fa-caret-right"
														aria-hidden="true"></i>Home</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a>
											</li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a>
											</li>
											<li><a href="#"><i class="fa fa-caret-right"
														aria-hidden="true"></i>Developer</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right"
														aria-hidden="true"></i>Consuling</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a>
											</li>
											<li><a href="#"><i class="fa fa-caret-right"
														aria-hidden="true"></i>Testimonials</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact
													Us</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
	
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>SERVICES</h2>
								<p>Always we honor to serve you.</p>
								<ul class="time-sidual">
									<li class="day">X-ray recognition</li>
									<li class="day">diseases prediction </li>
									<li class="day"> storing medical data</li>
								</ul>
							</div>
						</div>
					   
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit
									amet, consectetur adipisicing elit,</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
										required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2025 | All Rights Reserved by KINGS CODE ETHIOPIA </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->

		<!-- jquery Min JS -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<!-- jquery Migrate JS -->
		<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
		<!-- jquery Ui JS -->
		<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
		<!-- Easing JS -->
        <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
		<!-- Color JS -->
		<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
		<!-- Popper JS -->
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
		<!-- Jquery Nav JS -->
        <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
		<!-- Slicknav JS -->
		<script src="{{ url_for('static', filename='js/slicknav.min.js') }}"></script>
		<!-- ScrollUp JS -->
        <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
		<!-- Niceselect JS -->
		<script src="{{ url_for('static', filename='js/niceselect.js') }}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
		<!-- Owl Carousel JS -->
        <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
		<!-- counterup JS -->
		<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
		<!-- Steller JS -->
		<script src="{{ url_for('static', filename='js/steller.js') }}"></script>
		<!-- Wow JS -->
		<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
		<!-- Magnific Popup JS -->
		<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- Main JS -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		<script src="{{ url_for('static', filename='js/map-active.js') }}"></script>
    </body>
</html>